<artcie class="row columns">
  <header class="rental-core-info">
    <h1 class="rental-core-info__tile">Rental Details</h1>
    <div class="row">
      <dl class="rental-core-info__rental-details large-6 columns">
        <dt>Pickup Location:</dt>
        <dd>
          <em>{{ home.VehAvailRSCore.VehRentalCore.PickUpLocation['@Name'] }}, {{ home.VehAvailRSCore.VehRentalCore['@PickUpDateTime'] | date:'MM/dd/yyyy \'at\' h:mma' }}</em>
        </dd>
      </dl>
      <dl class="rental-core-info__rental-details large-6 columns">
        <dt>Return Location:</dt>
        <dd>
          <em>{{ home.VehAvailRSCore.VehRentalCore.ReturnLocation['@Name'] }}, {{ home.VehAvailRSCore.VehRentalCore['@ReturnDateTime'] | date:'MM/dd/yyyy \'at\' h:mma' }}</em>
        </dd>
      </dl>
    </div>
  </header>
  <div class="row columns"><hr></div>
  <div class="row cars-filter">
    <fieldset class="large-12 columns">
      <legend>Select your supplier</legend>
      <label class="cars-filter__label" for="filter-vendor-all">
        <input
          id="filter-vendor-all"
          ng-model="home.carListFilter.vendor"
          ng-change="home.setFilteredAvailableCars()"
          name="vendor"
          value=""
          type="radio"
        >
        <span>All</span>
      </label>
      <label
        class="cars-filter__label"
        for="filter-vendor-{{:: vendorCars.Vendor['@Name'] | lowercase }}"
        ng-repeat="vendorCars in home.VehAvailRSCore.VehVendorAvails"
      >
        <input
          id="filter-vendor-{{:: vendorCars.Vendor['@Name'] | lowercase }}"
          name="vendor"
          ng-change="home.setFilteredAvailableCars()"
          ng-model="home.carListFilter.vendor"
          ng-value="vendorCars.Vendor['@Name']"
          type="radio"
        >
        <span>{{ vendorCars.Vendor['@Name'] }}</span>
      </label>
    </fieldset>
  </div>
  <cars-list on-select-vehicle="home.onSelectVehicle(vehicle)" vendor-cars="home.filteredCars" />
</artcie>

