@import '../../styles/base.scss';

.rental-core-info {
  border-radius: rem-calc(6);
  margin: 2rem 0;
}

.rental-core-info__tile {
  font-size: rem-calc(map-deep-get($header-sizes, 'medium', 'h4'));
}

.rental-core-info__rental-details { margin-bottom: 0; }

.cars-filter { margin-bottom: 1rem; }

.cars-filter__label {
  display: inline-block;
  cursor: pointer;
  margin-right: 1rem;
}
