@import '../../../styles/base.scss';

.car-card {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.car-card__attributes {
  background: $light-gray;
  margin: 0 (-$callout-padding) 1rem;
  border-top: $callout-border;
  border-bottom: $callout-border;
  padding: $callout-padding 0;
}

.car-card__attributes__separator { margin: $callout-padding 0; }

.car-card__attributes__list {
  display: flex;
  flex-wrap: wrap;
  list-style: outside none;
  justify-content: space-between;
  margin: 0;
}

.car-card__attributes__list__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 $callout-padding;
    font-size: rem-calc(14);
}

.car-card__attributes__supplier {
  padding: 0 $callout-padding;
  margin: 0;
}

.car-card__thumbnail {
  margin: 0 0 1rem;
  display: block;

  height: 108px;
  overflow: hidden;
}

.car-card .car-card__select { margin: 0 (-$callout-padding); }

.car-card__select__button { margin: 0; }
