<div class="car-cards row">
  <div class="small-6 large-4 columns" ng-repeat="vehicle in $ctrl.availableVehicles track by $index">
    <div class="car-card callout">
      <p class="car-card__name lead">
        {{ vehicle.Vehicle.VehMakeModel['@Name'] }}
      </p>
      <figure class="car-card__thumbnail thumbnail">
        <img
          class="car-card__thumbnail__image float-center"
          ng-src="{{ vehicle.Vehicle.PictureURL }}"
          alt="{{ vehicle.Vehicle.VehMakeModel['@Name'] }}"
        >
      </figure>
      <div class="car-card__attributes">
        <ul class="car-card__attributes__list">
          <li class="car-card__attributes__list__item">{{ vehicle.Vehicle['@AirConditionInd'] ? '' : 'No' }} Air Conditioning</li>
          <li class="car-card__attributes__list__item">{{ vehicle.Vehicle['@TransmissionType'] }} Transmission</li>
          <li class="car-card__attributes__list__item">{{ vehicle.Vehicle['@FuelType'] }}</li>
          <li class="car-card__attributes__list__item" ng-init="passengers = vehicle.Vehicle['@PassengerQuantity']">
            <ng-pluralize
              count="passengers"
              when="{
                '1': '1 Passenger',
                'other': '{{ passengers }} Passengers'
              }"
            />
          </li>
          <li class="car-card__attributes__list__item" ng-init="bags = vehicle.Vehicle['@BaggageQuantity']">
            <ng-pluralize
              count="bags"
              when="{
                '1': '1 Bag',
                'other': '{{ bags }} Bags'
              }"
            />
          </li>
        </ul>
        <hr class="car-card__attributes__separator" />
        <p class="car-card__attributes__supplier">Supplied by: {{ vehicle.Vendor['@Name'] }}</p>
      </div>
      <p class="lead text-center">{{ vehicle.TotalCharge['@EstimatedTotalAmount'] | currency:'$ ' }}</p>
      <div class="car-card__select">
        <button
          ng-click="$ctrl.onSelectVehicle({ vehicle: vehicle })"
          class="car-card__select__button button expanded"
          title="Select {{ vehicle.Vehicle.VehMakeModel['@Name'] }}"
        >
          Select
        </button>
      </div>
    </div>
  </div>
</div>
