<article class="row columns">
  <h1 class="vehicle__title">{{ vehicle.vehicleResolve.Vehicle.VehMakeModel['@Name'] }}</h1>
  <hr>
  <div class="media-object stack-for-small">
    <div class="media-object-section">
      <img class="thumbnail" ng-src="{{ vehicle.vehicleResolve.Vehicle.PictureURL }}" alt="{{ vehicle.vehicleResolve.Vehicle.VehMakeModel['@Name'] }}">
    </div>
    <div class="media-object-section">
      <p>Supplied by: {{ vehicle.vehicleResolve.Vendor['@Name'] }}</p>
      <div class="row">
        <div class="columns large-6">
          <ul>
            <li>{{ vehicle.vehicleResolve.Vehicle['@AirConditionInd'] ? '' : 'No' }} Air Conditioning</li>
            <li>{{ vehicle.vehicleResolve.Vehicle['@TransmissionType'] }} Transmission</li>
            <li>{{ vehicle.vehicleResolve.Vehicle['@FuelType'] }}</li>
            <li ng-init="passengers = vehicle.vehicleResolve.Vehicle['@PassengerQuantity']">
              <ng-pluralize
                count="passengers"
                when="{
                  '1': '1 Passenger',
                  'other': '{{ passengers }} Passengers'
                }"
              />
            </li>
            <li ng-init="bags = vehicle.vehicleResolve.Vehicle['@BaggageQuantity']">
              <ng-pluralize
                count="bags"
                when="{
                  '1': '1 Bag',
                  'other': '{{ bags }} Bags'
                }"
              />
            </li>
          </ul>
        </div>
        <div class="columns large-6">
          <div class="callout primary">
            <p class="lead text-center">{{ vehicle.vehicleResolve.TotalCharge['@EstimatedTotalAmount'] | currency:'$ ' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
